@import "_global.scss";

body {
  background: url(images/bg.jpg) no-repeat 70% 70%;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather", serif;
  font-weight: 400;
  @media (max-width: 1024px) {
    background: url(images/bg.jpg) no-repeat center center;
    background-size: cover;
  }
}

.step-container {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  width: 100%;

  .progress {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $btn-bg;
    z-index: -1;
    width: 255px;
    opacity: 0.9;
    @media (max-width: 1024px) {
      width: 130px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 6px;
      left: 234px;
      width: 38px;
      height: 38px;
      background-color: $btn-bg;
      rotate: 45deg;
      @media (max-width: 1024px) {
        left: 110px;
      }
    }
  }

  .step1 {
    border-top-left-radius: 10px;
    width: 120%;
  }
  div:last-of-type {
    border-top-right-radius: 10px;
  }
  .step {
    padding: 15px;
  }
}

.card-container {
  width: 638px;
  height: 612px;
  background-color: $white;
  border-radius: 10px;
  opacity: 0.95;
  -webkit-box-shadow: 2px 4px 29px -4px rgba(154, 154, 167, 1);
  -moz-box-shadow: 2px 4px 29px -4px rgba(154, 154, 167, 1);
  box-shadow: 2px 4px 29px -4px rgba(154, 154, 167, 1);
  position: relative;
  @media (max-width: 1024px) {
    height: 536px;
  }
}

.create-form,
.personal-form,
.social-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 160px 100px 100px 100px;
  gap: 50px;

  @media (max-width: 1024px) {
    padding: 150px 38px 38px 38px;
    gap: 30px;
  }
}

.personal-form {
  position: absolute;
  left: 1160px;
  top: 0;
}

.social-form {
  position: absolute;
  left: 580px;
  top: 0;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.input {
  border-bottom: 1px solid $black;
  height: 40px;
  font-size: 20px;
  font-family: "Merriweather", serif;
  &:hover {
    opacity: 0.9;
  }
  &:focus-visible {
    outline: none;
  }
}

.btn {
  font-size: 20px;
  font-family: "Merriweather", serif;
  background-color: $btn-bg;
  border-radius: 20px;
  padding: 8px 37px;
  font-weight: 600;
  color: $btn-text;
  &:hover {
    opacity: 0.9;
  }
}

.btns-container {
  display: flex;
  gap: 15px;
}
